@model ARFE.Controllers.FileTypeModel

<h2 class="text-center" style="margin-top:60px;margin-bottom:40px;">My Private Files</h2>

<link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">

@if (ViewBag.invalid != null && ViewBag.invalid == true)
{
    <p style="color:red">Must Select a File Type</p>
}

<table class="table table-hover" style="table-layout: fixed; width: 100%">
    <thead>
        <tr>
            <th class="col-md-2" style="text-align:center;color:#071D49;"><h5><b>Name</b></h5></th>
            <th class="col-md-2" style="text-align:center;color:#071D49;"><h5><b>Date</b></h5></th>
            <th class="col-md-2" style="text-align:center;color:#071D49;"><h5><b>Author</b></h5></th>
            <th class="col-md-5" style="text-align:center;color:#071D49;"><h5><b>Description</b></h5></th>
            <th class="col-md-1" style="text-align:center;color:#071D49;"><h5><b></b></h5></th><!-- Empty column for delete button-->
        </tr>
    </thead>
    <tbody>
        @foreach (Common.FileUIInfo file in ViewBag.privateFiles)
        {
            using (Html.BeginForm("PrivateContentSelect", "UserContent", FormMethod.Post, new { role = "form" }))
            {
                <tr data-toggle="collapse" data-target="#@{@file.FileName}" class="clickable" style="background-color:">
                    <td class="col-md-2" style="text-align:center; height:100%; word-wrap: break-word; padding-top:10px; padding-bottom:10px; margin-bottom:10px;"><h5 style="margin:auto">@file.FileName</h5></td>
                    <td class="col-md-2" style="text-align:center; height:100%; word-wrap: break-word; padding-top:10px; padding-bottom:10px; margin-bottom:10px;"><h5 style="margin:auto">@file.UploadDate</h5></td>
                    <td class="col-md-2" style="text-align:center; height:100%; word-wrap: break-word; padding-top:10px; padding-bottom:10px; margin-bottom:10px;"><h5 style="margin:auto">@file.Author</h5></td>
                    <td class="col-md-5" style="text-align:center; height:100%; word-wrap: break-word; padding-top:10px; padding-bottom:10px; margin-bottom:10px;"><h5 style="margin:auto">@file.Description</h5></td>
                    <td class="col-md-1" style="text-align:center; height:100%; word-wrap: break-word; padding-top:10px; padding-bottom:10px; margin-bottom:10px;"><h5 style="margin:auto"></h5></td> <!-- Empty column for delete button-->
                </tr>
                <tr id="@{@file.FileName}" class="collapse" style="background-color:#ddd6bb; margin-top:10px;margin-bottom:10px;">
                    <td class="col-md-2" style="height:100%; text-align:center;">
                        @Html.DropDownListFor(m => m.FileType, // 1. Store selected value in Model.State;
                                                                    // when page is rendered after postback,
                                                                    // take selected value from Model.State.

                                                                                                                // 2. Take list of values from Model.States
                                                                                                                Model.FileTypes,

                                                                                                                // 3. Text for the first 'default' option
                                                                                                                "- Select a File Type -")
                    </td>
                    <td class="col-md-2" style="text-align:center; height:100%;"><button type="submit" name="downloadType" value="@file.FileName--Download">Download File</button></td>
                    <td class="col-md-2" style="text-align:center; height:100%;"><button type="submit" name="downloadType" value="@file.FileName--GeneralQR">General QR Code</button></td>
                    <td class="col-md-5" style="text-align:center; height:100%;"><button type="submit" name="downloadType" value="@file.FileName--MobileQR">Mobile QR Code</button></td>
                    <td class="col-md-1" style="text-align:center; height:100%;"><button type="submit" style="background-color:red" name="downloadType" value="@file.FileName--Delete">Delete</button></td>
                </tr>
            }

        }
    </tbody>
</table>



<br />
<br />
<br />

<h2 class="text-center" style="margin-top:20px;margin-bottom:40px;">My Public Files</h2>

@if (ViewBag.invalid != null && ViewBag.invalid == true)
{
    <p style="color:red">Must Select a File Type</p>
}

<table class="table table-hover" style="table-layout: fixed; width: 100%">
    <thead>
        <tr>
            <th class="col-md-2" style="text-align:center;color:#071D49;"><h5><b>Name</b></h5></th>
            <th class="col-md-2" style="text-align:center;color:#071D49;"><h5><b>Date</b></h5></th>
            <th class="col-md-2" style="text-align:center;color:#071D49;"><h5><b>Author</b></h5></th>
            <th class="col-md-5" style="text-align:center;color:#071D49;"><h5><b>Description</b></h5></th>
            <th class="col-md-1" style="text-align:center;color:#071D49;"><h5><b></b></h5></th><!-- Empty column for delete button-->
        </tr>
    </thead>
    <tbody>
        @foreach (Common.FileUIInfo file in ViewBag.publicFiles)
        {
            using (Html.BeginForm("PublicContentSelect", "UserContent", FormMethod.Post, new { role = "form" }))
            {
                <tr data-toggle="collapse" data-target="#@{@file.FileName}" class="clickable" style="background-color:">
                    <td class="col-md-2" style="text-align:center; height:100%; word-wrap: break-word; padding-top:10px; padding-bottom:10px; margin-bottom:10px;"><h5 style="margin:auto">@file.FileName</h5></td>
                    <td class="col-md-2" style="text-align:center; height:100%; word-wrap: break-word; padding-top:10px; padding-bottom:10px; margin-bottom:10px;"><h5 style="margin:auto">@file.UploadDate</h5></td>
                    <td class="col-md-2" style="text-align:center; height:100%; word-wrap: break-word; padding-top:10px; padding-bottom:10px; margin-bottom:10px;"><h5 style="margin:auto">@file.Author</h5></td>
                    <td class="col-md-5" style="text-align:center; height:100%; word-wrap: break-word; padding-top:10px; padding-bottom:10px; margin-bottom:10px;"><h5 style="margin:auto">@file.Description</h5></td>
                    <td class="col-md-1" style="text-align:center; height:100%; word-wrap: break-word; padding-top:10px; padding-bottom:10px; margin-bottom:10px;"><h5 style="margin:auto"></h5></td> <!-- Empty column for delete button-->
                </tr>
                <tr id="@{@file.FileName}" class="collapse" style="background-color:#ddd6bb; margin-top:10px;margin-bottom:10px;">
                    <td class="col-md-2" style="height:100%; text-align:center;">
                        @Html.DropDownListFor(m => m.FileType, // 1. Store selected value in Model.State;
                                                                    // when page is rendered after postback,
                                                                    // take selected value from Model.State.

                                                                                                               // 2. Take list of values from Model.States
                                                                                                               Model.FileTypes,

                                                                                                               // 3. Text for the first 'default' option
                                                                                                               "- Select a File Type -")
                    </td>
                    <td class="col-md-2" style="text-align:center; height:100%;"><button type="submit" name="downloadType" value="@file.FileName--Download">Download File</button></td>
                    <td class="col-md-2" style="text-align:center; height:100%;"><button type="submit" name="downloadType" value="@file.FileName--GeneralQR">General QR Code</button></td>
                    <td class="col-md-5" style="text-align:center; height:100%;"><button type="submit" name="downloadType" value="@file.FileName--MobileQR">Mobile QR Code</button></td>
                    <td class="col-md-1" style="text-align:center; height:100%;"><button type="submit" style="background-color:red" name="downloadType" value="@file.FileName--Delete">Delete</button></td>
                </tr>
            }

        }
    </tbody>
</table>
