<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <title>@ViewBag.Title - Augmented Education</title>
    <link rel="icon" href="..\..\..\Content\logo.png">
    <link rel="icon" href="..\..\..\Content\bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <p class="navbar-brand"><img src="..\..\..\Content\logo.png" height="35" width="35" style="margin-top:-15px;margin-bottom:-15px;" /></p>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Public Content", "Index", "PublicContent")</li>
                    <li>@Html.ActionLink("My Content", "Index", "UserContent")</li>
                    <li>@Html.ActionLink("Upload", "UploadFile", "Upload")</li>
                    <li>@Html.ActionLink("Help", "Help", "Help")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div style="background-color:#e1e7f4">
        <div class="container body-content" style="background-color:#e1e7f4">
            <h1 style="color:#B3A369"><b>Augmented Education</b></h1>
        </div>
    </div>
    <div class="container body-content" style="min-height: 75vh; overflow: hidden; display: block; position: relative; padding-bottom: 80px;">
        @RenderBody()
        <hr />
    </div>
    <div class="footer">
        <p style="padding-left:5vw;">&copy; @DateTime.Now.Year - South Dakota School of Mines and Technology</p>
    </div>


</body>
</html>
